.env
__pycache__/
*.pyc
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/
airflow/logs/
airflow/data/
airflow/plugins/*.egg
spark/spark-warehouse/
spark/streaming/checkpoints/
dbt/dbt_packages/
dbt/target/
data_quality/great_expectations/uncommitted/
*.egg
*.egg-info/
*.db
producers/.hn_last_id
producers/.gh_last_id
producers/.yt_last_video
mlflow.db
/tmp/
*.parquet
journey_log/
